.header-title {
  position: absolute;
  margin-top: 7px;
  font-size: 28px;
  color: #FF0000;
  left: 45%;
  font-weight: bold;
}

.box {
    background-color: #BC8F8F;
    color: #00FF00;
    font-size: 16px;
}

.box-header {
    background-color: #DAA520;
    color: white;
    font-size: 26px;
    font-weight: 900;
}


.tab-content > .active {
    display: block;
    background: #696969;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
}

.skin-purple .main-sidebar {
  background-color: #BC8F8F;
  font-size: 16px;
  font-weight: bold;
  width: 13%;
}

.skin-purple .sidebar-menu>li.active>a, .skin-purple .sidebar-menu>li:hover>a {
  background-color: #800000;
  font-family: italic;
  font-size: 20px;
}

.btn {
  background-color: #00FFFF;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.skin-purple .main-header .logo {
  background-color: #CBB051;
}

.control-label {
    background-color: transparent;
    color: #00FF00;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 2px 0 0 0;
    z-index: 1000;
    color: white;
    background: #808000;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
